<section class="py-5 bg-light">
    <div class="container py-5">
        <h2 class="section-title text-center mb-5">Chef's Signature Dishes</h2>
        <div class="row g-4">
            
            <div class="col-md-4" data-aos="flip-left">
                <div class="card h-100 border-0 shadow-sm">
                    <img src="images/food/lava_idli.png" class="card-img-top" alt="Tandoori" style="height: 250px; object-fit: cover;">
                    <div class="card-body text-center">
                       <h4 class="card-title fw-bold">Lava Idli</h4>
                        <p class="card-text text-muted">
                        Soft, fluffy idlis cracked open to reveal a steaming, spiced vegetable filling finished with ghee.
                        </p>
                        <span class="badge bg-black text-gold p-2">Must Try</span>

                    </div>
                </div>
            </div>

            <div class="col-md-4" data-aos="flip-left" data-aos-delay="100">
                <div class="card h-100 border-0 shadow-sm">
                    <img src="images/food/vib_guj.png" class="card-img-top" alt="Biryani" style="height: 250px; object-fit: cover;">
                    <div class="card-body text-center">
                        <h4 class="card-title fw-bold">Vibrant Gujarat</h4>
                        <p class="card-text text-muted">
                        A colorful platter of Gujarati classics featuring khaman, patra, handvo, farsan, and chutneys.
                        </p>
                        <span class="badge bg-black text-gold p-2">Traditional Favorite</span>

                    </div>
                </div>
            </div>

            <div class="col-md-4" data-aos="flip-left" data-aos-delay="200">
                <div class="card h-100 border-0 shadow-sm">
                    <img src="images/food/moc_cof.png" class="card-img-top" alt="Curry" style="height: 250px; object-fit: cover;">
                    <div class="card-body text-center">
                        <h4 class="card-title fw-bold">Mocktail & Coffee Bar</h4>
                        <p class="card-text text-muted">
                        A live beverage counter serving refreshing mocktails and freshly brewed coffee for all-day indulgence.
                        </p>
                        <span class="badge bg-black text-gold p-2">Signature Beverage Bar</span>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>